.btn
	font-size: 14px
	font-weight: 400
	border-radius: 3px
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.08)

	&:hover
		text-decoration: none

.btn-regular
	background-color: #F79D00
	color: #313131
	padding: 10px 25px
	letter-spacing: .1em
	margin-top: 25px
	display: inline-block

	&:hover
		background-color: #F79200
		color: #313131

.btn-demo
	color: #ffffff
	background-color: #E5AD67
	letter-spacing: .1em
	padding: 15px 48px
	display: inline-block
	width: 100%
	margin-top: 20px

	&:hover
		color: #ffffff
		background-color: #E5AD67

.btn-demo-small
	font-size: 12px
	background-color: #E5AD67
	padding: 1px 4px

	&:hover
		background-color: #E5A267

	a
		color: #ffffff
