#content
	background-color: $content-section-background
	color: $content-font-color

	p
		font-size: 20px
		color: $content-p-color

.content-box
	padding: 60px 20px
	
.main-content-box
    padding: 0 0 100px 20px
