footer
	background-color: $footer-background
	color: $footer-font-color
	padding: 10px 0

	a
		color: #62656a

		&:hover
			color: #0095f7
			text-decoration: none

	i
		font-size: 25px
		color: #62656a
		margin-right: 10px
		margin-top: 10px

		&:hover
			color: #0095f7

	small
		color: #62656a
		float: right
		
	hr
		border: 0
		height: 0
		border-top: 1px solid rgba(0, 0, 0, 0.1)
		border-bottom: 1px solid rgba(255, 255, 255, 0.3)

.external-links
	color: #0095f7

.divider
	padding: 1rem 0 0
	margin: 1rem 0 0
	border-top: 1px solid #3c3f45

.external-links
	color: #0095f7

.external-links
	color: #0095f7
