body
	font-family: $main-font

h2
	font-size: 44px
	font-weight: 700

h3
	font-size: 24px
	font-weight: 500
	margin-bottom: 25px

h5
	font-size: 16px

p
	font-size: 14px
	font-weight: 400
	letter-spacing: .05em
	color: $p-font-color

ul
	list-style-type: none
	padding-left: 0px

b
	font-weight: 700
	
a
	color: $link-main-color
	transition: 0.5s
	
	&:hover
		color: $link-hover-color

section
	padding: $section-padding 0px
	
	span
		font-weight: 400
		color: #F79D00
		text-transform: uppercase
		letter-spacing: .05em
		
	p
		font-weight: 300
		color: #8da2b5
		margin-bottom: 0px
		padding: 0px

.title-block
	max-width: 700px
	margin-left: auto
	margin-right: auto
	margin-bottom: 30px
	text-align: center

	p
		font-size: 20px
		font-weight: 300
		color: #8da2b5
		margin-bottom: 0px
