@font-face
    font-family: Alanesiana
    src: url('../webfonts/Alanesiana Regular.woff2')

#main
	background-color: $main-section-background
	color: $main-font-color
	padding: 0
	margin: 0
	height: 100%

	h1
		//line-height: 25px
		font-size: 50px
		font-weight: 300
		font-family: Alanesiana
		color: #d29b0f
		
	small
		font-size: 10px

	p
		font-size: 24px

	//img
	//	position: absolute
	//	bottom: -$section-padding
	
	//img
		//position: absolute
		//bottom: $section-padding - 35
	
	.substrate
		background-image: url(../images/shading.png)
		background-repeat: repeat
	
	.background
		background-image: url(../images/background.png)
		background-repeat: no-repeat
		background-size: cover
		//background-size: 100%
		//background-attachment: fixed
		//background-position: 50% 100%
		margin-top: -$section-padding
		
.main-content
	text-align: center
	padding-bottom: 100px
	padding: 100px 20px
