.custom-navbar
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.09)
	height: 70px
	max-height: 70px
	// hack
	// navbar will still be fixed, but will not scroll with page
	position: absolute
	
.navbar-dark
	background-color: $main-section-background
	transition: 0.2s
	
	.nav-link
		@extends .navbar-nav
		color: rgba(255,255,255,.8) !important
		border-bottom: 1px dotted white
		
		&:hover
			border-bottom: 1px dotted $link-main-color
			
.offline
	color: #BE0000 !important
	margin-top: 13px !important
		
.navbar-light
	background-color: $content-section-background
	transition: 0.2s
	
	a:hover
		text-decoration: underline

.nav-custom-link
	font-size: 12px
	font-weight: 400
	letter-spacing: .05em
	margin-top: 5px

.nav-right
	float: right
