@media (min-width: 900px)
	.main-content
		margin-top: 50px;
		text-align: center
		padding-bottom: 100px
		
	.nav-custom-link
		padding-left: 10px

@media (min-width: 1200px)
	.main-content
		margin-top: 100px;
		text-align: center
		padding-bottom: 100px

@media (min-width: 768px) and (max-width: 800px)
    .navbar-nav
        flex-direction: inherit
        padding-left: 10px

@media (min-width: 320px)
    footer .fllinks
        padding-left: 87px
        
@media (min-width: 360px)
    footer .fllinks
        padding-left: 100px

@media (min-width: 375px)
    footer .fllinks
        padding-left: 105px
        
@media (min-width: 411px) and (max-width: 450px)
    footer .fllinks
        padding-left: 135px
    
    footer .flcopy
        padding-left: 95px;
        
@media (min-width: 280px) and (max-width: 653px)
    .nav-logo-desktop
        display: none

    .navbar-nav
        flex-direction: inherit
        padding-right: 40px

    .nav-custom-link
        padding-left: 10px
        
    footer .flcopy, .fllinks
        width: auto
        
    footer .flcopy
        padding-left: 60px
